# {{ ansible_managed }}
# Environment for qdrant.service
#
# standalone:      --config-path <config>
# cluster, node 1: --config-path <config> --uri <own p2p uri>
# cluster, others: --config-path <config> --uri <own p2p uri> --bootstrap <first node p2p uri>
QDRANT_START_ARGS=--config-path {{ qdrant_config_file }}{% if qdrant_cluster_enabled %} --uri {{ qdrant_p2p_uri }}{% if not qdrant_is_first_node %} --bootstrap {{ qdrant_bootstrap_uri }}{% endif %}{% endif %}

