# {{ ansible_managed }}
# Environment for qdrant.service

# P2P URI of this node (passed as --uri)
QDRANT_URI={{ qdrant_p2p_uri }}
# P2P URI of the first (bootstrap) node of the cluster (passed as --bootstrap on non-first nodes)
BOOTSTRAP_NODE={{ qdrant_bootstrap_uri }}
